@page "/apidemo"

@inject IHttpClientFactory clientFactory

@using WebLab.Blazor.Data

<div class="container">
    <LegalServicesList @bind-LegalServices="legalServices" SelectedObjectChanged="ShowDetails"></LegalServicesList>
    <LegalServiceDetails @bind-LegalService="SelectedLegalService"></LegalServiceDetails>
</div>

@code 
{
    [Parameter]
    public IEnumerable<LegalServiceListViewModel> legalServices { get; set; }
    string apiBaseAddress = "https://localhost:44393/Api/LegalServices";
    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, apiBaseAddress);
        var client = clientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            legalServices = await JsonSerializer.DeserializeAsync<IEnumerable<LegalServiceListViewModel>>
            (responseStream, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        }
    }

    [Parameter]
    public LegalServiceDetailsViewModel SelectedLegalService { get; set; }
    private async Task ShowDetails(int id)
    {
        var client = clientFactory.CreateClient();
        var response = await client.GetAsync(apiBaseAddress + $"/{id}");
        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            SelectedLegalService = await JsonSerializer.DeserializeAsync<LegalServiceDetailsViewModel>(responseStream);
        }
    }
}